/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

/*Asterisk Wildcard Selector*/
* {
    padding: 20px; 
    margin: 0;
    box-sizing: border-box;
}

/* General body styles */
body {
    background: url('../assets/images/pexels-markusspiske-1089438.jpg') no-repeat right center/cover;
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 0;
    padding-top: 4%; /*padding to control the space at the top*/
}

/* Quiz heading style */
h1 {
    font-size: 190%;
    padding-bottom: 20px;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    background-color: #000;
}

/* Quiz Area styles */
.quiz-area {
    background: #fff;
    border-radius: 30px; /* Controls the edges of the quiz box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    overflow: hidden;
    width: 80%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin-top: 10px; /* makes sure there's space between the heading and quiz area */
    position: relative;
    color: #000; /* makes sure the text inside quiz area is visible */
    font-size: large;
    min-height: 300px; /* Minimum height to prevent resizing */
}

/* Styles for the progress bar */
#progress-bar {
    height: 10px;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

#progress {
    height: 100%;
    width: 0;
    background: #4caf50;
    transition: width 0.4s;
}

/* Styles for the Answer Buttons */
.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer; /*makes the pointer change style when its over the answer section*/
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3; /* Changes the color of the answer buttons when the pointer is over them */
}

.btn.selected {
    background-color: #0056b3;
    color: white;
}

.btn.correct {
    background-color: rgb(6, 161, 6);
    color: white;
}

.btn.wrong {
    background-color: #c21307;
    color: white;
}

/* Styles for the next question button */
.next-btn {
    margin-top: 20px;
}

.next {
    display: none;
}

#result-area {
    margin-top: 20px;
}

@media (max-width: 414px) {
    .quiz-area {
        width: 100%;
    }

    h1 {
        font-size: 90%;
        padding-bottom: 20px;
    }
    
}

@media (max-width: 320px) {
    .quiz-area {
        width: 100%;
    }

    h1 {
        font-size: 90%;
        padding-bottom: 20px;
    }

    #progress-bar {
        height: 6px;
        margin-bottom: 10px;
    }
}