/*Font Styles*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Asterisk Wildcard Selector*/
* {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

/*General body styles*/
body {
    background: url(../assets/images/pexels-markusspiske-1089438.jpg)no-repeat right center/cover;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/*Quiz Area styles*/
.quiz-area {
    background: #fff;
    border-radius: 30px; /*controls the edges of the quiz box*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    overflow: hidden;
    width: 80%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
    margin-top: 150px;
    position: relative;
}

/*styles for the progress bar*/
#progress-bar {
    height: 10px;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

#progress {
    padding-top: 10px;
    height: 100%;
    width: 0;
    background: #4caf50;
    transition: width 0.4s;
}
/*Styles for the Answer Buttons*/
.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3; /*changes the color of the answer buttons when the ponter is over them*/
}

.next-btn {
    margin-top: 20px;
    display: none;
}

.next {
    display: none;
}

#result-area {
    margin-top: 20px;
}

